header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 5px solid lightcyan;
    
}
li{
    color: blueviolet;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
}

li:hover{
    background-color: palegreen;
}
.logoLibreria {
    width: 100px;
}